<!-- Banner -->
<div id="contentSlider">
  <div id="slider">
    <div id="img1">a</div>
    <div id="img2">das</div>
    <div id="img3">asdas</div>
  </div>
</div>
<hr id="divitionBanner" />

<app-menu-slider></app-menu-slider>
<div class="container">
  <!-- Noticias -->
  <h2 class="titleSection">Noticas</h2>
  <hr class="yellowLine" />
  <div class="containerNews">
    <app-thumbnail></app-thumbnail>
    <app-thumbnail></app-thumbnail>
    <app-thumbnail></app-thumbnail>
  </div>

  <!-- Sección media -->
  <!-- Noticias -->
  <div class="midSection">
    <div class="techNews">
      <h2 class="titleSection">Lo último del área</h2>
      <hr class="yellowLine" />
      <div class="containerTechNews">
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
        <app-thumbnail></app-thumbnail>
      </div>
    </div>

    <!-- Clubes -->
    <div class="clubs">
      <h2 class="titleSection">Nuestros clubes</h2>
      <hr class="yellowLine" />
      <div class="clubSection">
        <img src="https://via.placeholder.com/200x200" alt="" />
        <div class="clubSectionText">
          <h3>CSI</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio illum
            dolorum hic quis aperiam
          </p>
        </div>
      </div>
      <div class="clubSection">
        <img src="https://via.placeholder.com/200x200" alt="" />
        <div class="clubSectionText">
          <h3>CSI</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio illum
            dolorum hic quis aperiam
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección inferior -->
  <div class="lowerSection">
    <h2 class="titleSection">No sé jaja</h2>
    <hr class="yellowLine" />
    <div class="containerNews">
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
      <app-thumbnail></app-thumbnail>
    </div>
  </div>
</div>
